* {
  box-sizing: border-box; }

body {
  margin: 0; }

h2 {
  color: #676767;
  font-family: "Philosopher", Times, "Times New Roman", serif;
  font-size: 42px;
  margin: 0; }

p {
  color: #676767;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 20px;
  line-height: 27px;
  margin: 0; }

img {
  max-width: 100%; }

.hidden {
  display: none; }

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px; }
  @media only screen and (min-width: 750px) {
    .container .container {
      width: 80%; } }

.button {
  border-radius: 50em;
  cursor: pointer;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  outline: 0; }

.btn-primary {
  background-color: #9EC2DF;
  border: 0;
  -webkit-box-shadow: 5px 7px 0px 0px #F3CA40;
  -moz-box-shadow: 5px 7px 0px 0px #F3CA40;
  box-shadow: 5px 7px 0px 0px #F3CA40;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 11px 58px; }

.btn-secondary {
  background-color: #ffffff;
  border: 3px solid #9EC2DF;
  color: #676767;
  -webkit-box-shadow: 5px 5px 0px 0px #9EC2DF;
  -moz-box-shadow: 5px 5px 0px 0px #9EC2DF;
  box-shadow: 5px 5px 0px 0px #9EC2DF;
  padding: 11px 58px; }

.nav-burger {
  width: 40px;
  height: 30px;
  position: fixed;
  top: 35px;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 15; }

.nav-burger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.nav-burger span:nth-child(1) {
  top: 0px; }

.nav-burger span:nth-child(2), .nav-burger span:nth-child(3) {
  top: 12px; }

.nav-burger span:nth-child(4) {
  top: 24px; }

.nav-burger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.nav-burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.nav-burger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.nav-links {
  background-color: #9EC2DF;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: left 0.5s ease;
  z-index: 4; }
  .nav-links.open {
    left: 0; }
  .nav-links ul {
    padding: 0;
    margin: 0; }
  .nav-links li {
    color: #ffffff;
    list-style: none;
    margin: 35px 0;
    text-align: center; }
  .nav-links a {
    cursor: pointer;
    color: #ffffff;
    font-family: "Nunito", Arial, sans-serif;
    font-size: 25px;
    line-height: 28px;
    text-decoration: none;
    transition: color 0.2s ease; }
    .nav-links a:hover {
      color: #F3CA40; }
  @media only screen and (min-width: 750px) {
    .nav-links {
      left: -25%;
      width: 25%; } }

.vv-divider {
  display: inline-block;
  font-size: 0;
  margin: 5px 0 20px; }
  .vv-divider div {
    background-color: #F3CA40;
    display: inline-block;
    height: 5px;
    width: 12px;
    margin: 0 4px; }
    .vv-divider div:nth-child(3) {
      width: 100px; }
    .vv-divider div:first-child {
      margin-left: 0; }
    .vv-divider div:last-child {
      margin-right: 0; }

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 3% 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  header .nav-container,
  header .social {
    width: 100px; }
  header .social {
    text-align: right; }
  @media only screen and (min-width: 750px) {
    header {
      padding: 30px 5% 10px; } }

.social i {
  cursor: pointer;
  color: #ffffff;
  font-size: 28px;
  margin: 0 10px;
  transition: color 0.3s ease; }
  .social i:hover {
    color: #9EC2DF; }

section.home {
  align-items: center;
  background-attachment: fixed;
  background-color: #737fe9;
  background-image: url("../images/main-bg.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; }
  section.home .button {
    display: block;
    margin: 0 auto; }
  section.home .container {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 125px auto 45px;
    padding: 45px 20px;
    max-width: 800px;
    width: 92%; }
  section.home p {
    font-size: 1.75em;
    line-height: 1.25em;
    margin-bottom: 30px;
    text-align: center; }
  @media only screen and (min-width: 750px) {
    section.home p {
      line-height: 1.5em; } }
  @media only screen and (min-width: 750px) and (orientation: landscape) {
    section.home {
      height: 90vh; }
      section.home .container {
        margin: 0 auto;
        padding: 60px 25px;
        width: 80%; } }

section.voice-lessons {
  padding: 45px 0; }
  section.voice-lessons h2 {
    text-align: center; }
  section.voice-lessons .btn-secondary {
    margin-top: 35px; }
  section.voice-lessons .container {
    text-align: center; }
    section.voice-lessons .container p {
      margin: 0 auto;
      max-width: 800px;
      width: 90%; }
  section.voice-lessons .lessons-section {
    align-items: center;
    background-image: url("../images/category-list-bg.jpg");
    background-position: 50% 85%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: auto;
    padding: 25px 0;
    margin: 45px 0; }
    section.voice-lessons .lessons-section .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap; }
    section.voice-lessons .lessons-section .lesson {
      background-color: #ffffff;
      border: 2px solid #F3CA40;
      -webkit-box-shadow: 3px 5px 0px 0px #F3CA40;
      -moz-box-shadow: 3px 5px 0px 0px #F3CA40;
      box-shadow: 3px 5px 0px 0px #F3CA40;
      color: #676767;
      display: table;
      font-family: "Nunito", Arial, sans-serif;
      font-weight: 800;
      height: 58px;
      margin: 15px auto;
      text-transform: uppercase;
      text-align: center;
      width: 90%; }
      section.voice-lessons .lessons-section .lesson span {
        display: table-cell;
        vertical-align: middle; }
  @media only screen and (min-width: 750px) {
    section.voice-lessons p {
      width: 50%; }
    section.voice-lessons .lessons-section {
      height: 32vh; }
      section.voice-lessons .lessons-section .container {
        flex-direction: row; }
      section.voice-lessons .lessons-section .lesson {
        margin: 18px 15px;
        width: 30%; } }

section.philosophy {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 50%;
  background-image: url("../images/philosophy-bg.jpg");
  display: flex;
  padding-bottom: 35px; }
  section.philosophy h2 {
    color: #ffffff;
    text-align: center;
    padding: 25px 0; }
  section.philosophy .text-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 45px 20px; }
    section.philosophy .text-container p {
      margin: 0 auto;
      max-width: 1000px;
      text-align: center; }
  @media only screen and (min-width: 750px) {
    section.philosophy {
      background-position: 50% 50%;
      min-height: 55vh;
      padding-bottom: 60px; }
      section.philosophy .text-container {
        padding: 45px; } }

section.about-me {
  background-color: #f5f5f5;
  border-bottom: 10px solid #9EC2DF;
  padding: 40px 0; }
  section.about-me .container {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr;
    grid-column-gap: 50px; }
  section.about-me .headshot {
    grid-column-end: -1; }
    section.about-me .headshot img {
      display: block; }
  section.about-me .about-container {
    background-color: #ffffff;
    border-top: 10px solid #9EC2DF;
    padding: 25px;
    grid-column: 1/2;
    grid-row-start: 2; }
  @media only screen and (min-width: 750px) {
    section.about-me .container {
      grid-template-columns: 1.25fr 1fr; }
    section.about-me .headshot {
      grid-column-end: -1; }
      section.about-me .headshot img {
        -webkit-box-shadow: 3px 5px 0px 0px #F3CA40;
        -moz-box-shadow: 3px 5px 0px 0px #F3CA40;
        box-shadow: 3px 5px 0px 0px #F3CA40; }
    section.about-me .about-container {
      grid-row-start: 1; } }

.social-feed {
  text-align: center;
  padding-top: 30px; }
  .social-feed .instagram-feed {
    font-size: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .social-feed .instagram-feed div {
      object-fit: cover; }
    .social-feed .instagram-feed img {
      height: 100%;
      width: 100%; }
  @media only screen and (min-width: 750px) {
    .social-feed .instagram-feed {
      grid-template-columns: repeat(6, 1fr); } }

section.contact {
  background-color: #9EC2DF;
  background: -moz-linear-gradient(-45deg, #9EC2DF 0%, #F3CA40 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #9EC2DF 0%, #F3CA40 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(165deg, #9EC2DF 0%, #F3CA40 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 45px 0; }
  section.contact .container {
    background: rgba(255, 255, 255, 0.8);
    padding: 45px 3%; }
  section.contact .contact-info,
  section.contact .contact-form {
    display: block; }
  section.contact .contact-info i {
    color: #676767; }
  @media only screen and (min-width: 750px) {
    section.contact .contact-info {
      width: 30%; }
    section.contact .contact-form {
      float: right;
      width: 65%; }
    section.contact .contact-info,
    section.contact .contact-form {
      display: inline-block; }
    section.contact .conatiner {
      padding: 45px; } }

#to-top {
  position: fixed;
  right: 3%;
  background-color: #9EC2DF;
  border-radius: 8px;
  padding: 13px 8px;
  bottom: 78px;
  -webkit-box-shadow: 2px 3px 0px 0px #F3CA40;
  -moz-box-shadow: 2px 3px 0px 0px #F3CA40;
  box-shadow: 2px 3px 0px 0px #F3CA40; }
  #to-top i {
    color: #ffffff;
    font-size: 25px; }
  @media only screen and (min-width: 750px) {
    #to-top {
      bottom: 28px; } }

footer {
  background-color: #5a5a5a;
  padding: 25px 0 10px;
  position: relative; }
  footer .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    width: 85%; }
  footer .footer-info {
    font-family: "Nunito", Arial, sans-serif;
    font-size: 10px;
    font-weight: 300;
    padding-bottom: 15px;
    color: #ffffff; }
  footer i {
    cursor: pointer;
    font-size: 22px;
    margin: 0 8px;
    transition: color 0.3s ease; }
    footer i:hover {
      color: #9EC2DF; }
  @media only screen and (min-width: 750px) {
    footer .container {
      flex-direction: row; }
    footer .footer-info {
      padding-bottom: 0; }
    footer i {
      font-size: 16px; } }
