// Breakpoints
$bp-xs: 400px;
$bp-sm: 550px;
$bp-med: 750px;
$bp-lrg: 1000px;
$bp-xl: 1200px;


// Font variables
$header: 'Philosopher', Times, 'Times New Roman', serif;
$standard: 'Nunito', Arial, sans-serif;


// Colors
$color-primary: #9EC2DF;
$color-secondary: #F3CA40;
$color-text: #676767;